<header>
    <section id="header">
        <a href="'home"></a>
        <div class="input-group">
            <h1 style="color:#E12454;margin-right:400px;"><span style="color:black;font-size:45px;">CO-</span><span style="color:grey; font-size:45px;">WINNER</span></h1>
        </div>
                <div>
                            </div>
        
    </section>
  </header>
  <div class="container">
        <ul id="navbar">
            <li><a routerLink="home" (click)="updatelnk('home');">Home</a></li>
              <li><a routerLink="wishlist" (click)="updatelnk('cart');">Wishlist </a></li>          
            <li><a routerLink="cart" (click)="updatelnk('add');">Payment</a></li>
            <li><a routerLink="contact" (click)="updatelnk('contact');">Contact</a></li>          
            <li><a routerLink="about" (click)="updatelnk('about');">About</a></li>  
        <li><a routerLink="login">Login</a> </li>         
     <li><a routerLink="signup">signUp</a></li>
    </ul>
</div>
  <!---------------------------------navbar end------------->
