
<header>
    <section id="header">
        <div class="input-group">
          <img src="/covid/src/assets/image1.jpg">
            <h1 style="color:#E12454;margin-right:400px;"><span style="color:black;font-size:45px;font-weight: 500;">CO-</span><span style="color:grey; font-size:45px;font-weight: 500;">WINNER</span></h1>
        </div>
                <div>
                            </div>
        
    </section>
  </header>
  <div class="container">
        <ul id="navbar">
            <li><a routerLink="home">Home</a></li>
              <li><a routerLink="app">Appointment</a></li>          
                   <li><a routerLink="login">Login</a> </li>         
                  <li><a routerLink="signup">signUp</a></li>
                    <li><a>Logout</a></li>
    </ul>
</div>
  <!---------------------------------navbar end------------->
  
