<div class="baner">
  <form [formGroup]="login" (ngSubmit)="Submit()" class="shadow p-3 mb-5 bg-body rounded;">
    <h3
      class="shadow p-5 mb-5 bg-body rounded"
      id="banner"
      style="font-weight: 500"
    >
      <img
        src="https://cdn3d.iconscout.com/3d/premium/preview/man-holding-sign-up-form-2937684-2426382@0.png?w=0&h=40&f=jpeg"
      />
      Sign In
    </h3>

    <br />
    <div *ngIf="success == '0'">
      <p style="color: red; margin-left: 12rem">
        Sorry!! your email id , password or role is invalid
      </p>
    </div>
    <br />

    <div class="form-group">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
        aria-describedby="emailHelp"
        autocomplete="on"
      />
    </div>
    <br />
    <div class="form-group">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
        autocomplete="on"
      />
    </div>
    <br />

    <div class="form-group">
      <label class="form-label">Role</label><br />

      <div class="form-check form-check-inline">
        <input
          name="role"
          type="radio"
          id="role2"
          class="form-check-input"
          formControlName="role"
          value="Admin"
        />
        <label for="role2">Admin</label>
      </div>

      <div class="form-check form-check-inline">
        <input
          name="role"
          type="radio"
          id="role1"
          class="form-check-input"
          formControlName="role"
          value="Patient"
        />
        <label for="role1">Patient</label>
      </div>
    </div>

    <button type="button" routerLink="/home" class="btn btn-primary d-grid gap-1 col-3 mx-auto" [disabled]="login.invalid">
      SignIn
    </button>
    <br /><br />

    <br />
  </form>
</div>
