  <div>
    <img src="https://img.freepik.com/free-photo/woman-wearing-protective-suit-with-copy-space_23-2148848541.jpg?size=626&ext=jpg&ga=GA1.2.873670002.1658073867" style="width: 100%; height : 35rem;">
</div>
<div class="input1">
    <div>
        <input type="text" class="form-control2" #search placeholder="Choose your Location" list="mylist">
        <datalist id="mylist">
             <option value="Matrachaya Hospital,UP">
                <option value="RamaShiv Hospital,India">
                    <option value="Regency,India">
</datalist>
  </div>
  <div>
    <input type="text" class="form-control1" #search placeholder="Select Your Dose" list="list">
    <datalist id="list">
        <option value="Dose 1">
           <option value="Dose 2">
               
</datalist>
  </div>
    <button class="btn btn-primary" routerLink="/slot">Get Vaccinated Now</button>
</div>


<section>
    <div class="container">
        <div class="section-header">
          <h2 class="section-title">Browse Categories</h2>
          <br>
          <p>Get Vaccinated successfully according to slots availability</p>
        </div>
        <br>
  
        <div class="row">
          <div class="col-lg-3 col-md-6 col-xs-12 f-category">
            <a routerLink="/joblist/Finance">
              <div class="icon bg-color-1">
                <i class="bi bi-heart" aria-hidden="true" style="color:white;margin-top: 23%;"></i>
              </div>
              <h3>Heart</h3>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 f-category">
            <a routerLink="/joblist/Sales">
              <div class="icon bg-color-2">
                <i class="span class='bi bi-123'" aria-hidden="true" style="color:whitesmoke;margin-top: 23%;"></i>
              </div>
              <h3>Vaccinated</h3>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 f-category">
            <a routerLink="/joblist/Education">
              <div class="icon bg-color-3">
                <i class="bi bi-hand-index" aria-hidden="true" style="color:whitesmoke;margin-top: 23%;"></i>
              </div>
              <h3>Symptoms</h3>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 f-category">
            <a routerLink="/joblist/Technologies">
              <div class="icon bg-color-4">
                <i class="fa fa-television fa-2x" aria-hidden="true" style="color:whitesmoke;margin-top: 23%;"></i>
              </div>
              <h3>Care</h3>
                          </a>
          </div>
        </div>
      </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>