#banner{
    background-color: #F64C72 !important;
    color: aliceblue;
    font-size: 30px;
 }
 form{
   width:750px;   
 }
 #password_button{
   background-color:white;
   border: 0px;
   color:grey;
   
 }
 .baner{
 
   display:flex;
   justify-content: center;
 }
 label {
   font-size:large;
 }
 button {
   background-color: #eeeef0;
   color: black;
 }